.background {
    -fx-background-color: #E2EEEC;
}

.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #A5956D;
}

.label.h{
    -fx-font-size: 30pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #262221;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #F5EFE3;
    -fx-opacity: 1;
}
.hyperlink{
    -fx-text-fill: #484441;
}
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #F5EFE3;
    -fx-opacity: 1;
}

.paneIm:hover{
    -fx-background-image: url("backHover.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50 50;
    -fx-background-position: center center;
}

.paneIm{
    -fx-background-image: url("back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50 50;
    -fx-background-position: center center;
}

.table-view {
    -fx-base: #484441;
    -fx-control-inner-background: #484441;
    -fx-background-color: #484441;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-font-size: 17pt;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #E4E6E6;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-row-cell {
    -fx-cell-size: 50px;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #E4E6E6 transparent #E4E6E6;
    -fx-background-color: transparent, derive(#E4E6E6,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 17pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 15pt;
    -fx-font-family: "Times New Roman";
}


.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}